/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.btn-search{
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
border: none;
}
.btn-search:focus{
  background: #6c8cff;
}
.searchForm{
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 36px;
}
.bookSearch{
border: 1px solid #808080;
border-radius: 4px;
width: 252px;
height: 36px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #808080;
padding-left: 16px;
}
/* .bookSearch :hover{
  border: #000;
} */
.bookSearch :enabled{
  border: #4e75ff;
}
