/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.timer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.field{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.value{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px; 
}
.label{
  display: flex;
  justify-content: center;
}
.form{
  max-width: 251px;
}
